<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlinecartServlet_layered</display-name>
  <welcome-file-list>
    <welcome-file>signin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signin</display-name>
    <servlet-name>Signin</servlet-name>
    <servlet-class>com.onlinecart.controller.Signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewproducts</display-name>
    <servlet-name>viewproducts</servlet-name>
    <servlet-class>com.onlinecart.controller.viewproducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewproducts</servlet-name>
    <url-pattern>/viewproducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterNew</display-name>
    <servlet-name>RegisterNew</servlet-name>
    <servlet-class>com.onlinecart.controller.Registernewuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterNew</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnlineShopingBuyProduct</display-name>
    <servlet-name>OnlineShopingBuyProduct</servlet-name>
    <servlet-class>com.onlinecart.controller.OnlineShopingBuyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineShopingBuyProduct</servlet-name>
    <url-pattern>/buyproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Productpayslip</display-name>
    <servlet-name>Productpayslip</servlet-name>
    <servlet-class>com.onlinecart.controller.Productpayslip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Productpayslip</servlet-name>
    <url-pattern>/payslip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.onlinecart.controller.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>